
html {
  font: 400 16px 'Source Sans Pro', sans-serif;
  color: rgb(40, 40, 40);
  background-color: rgb(240, 240, 240);
  }

.btn {
  height: 42px;
  line-height: 42px;
  font-size: 15px;
  display: inline-block;
  text-decoration: none;
  transition: all 0.25s ease-in-out;
  text-align: center;
  cursor: pointer;
  border: none;
  position: relative;
  color: white;
}

.btn-submit {
  background-color: #009E74;
  color: white;
}

.btn-submit:hover,
.btn-submit:active {
  background-color: #037362;
}

.btn-demo {
  background-color: #39579A;
  color: white;
}

.btn-demo:hover,
.btn-demo:active {
  background-color: #1D3F8C;
}
