.global-nav {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 66px;
  padding: 0 24px;
  border-bottom: 1px solid rgb(101, 105, 105);
  background-color: white;
}

.global-nav section {
  min-width: 180px;
}

.global-nav-center {
  min-width: 180px;
  text-align: center;
}

.global-nav-center a {
  text-decoration: none;
}

.header-logo {
  font-family: 'Modak', cursive;
  color: #004853;
  font-size: 26px;
  letter-spacing: 0.8px;
}


.global-nav-right {
  display: flex;
  justify-content: right;
  flex-direction: row-reverse;
}

.global-nav-right .fa-search {
  color: inherit;
  font-size: 12px;
  padding-left: 3px;
}

.global-nav a {
  padding: 0 9px;
}

.header-btn {
  text-decoration: none;
  color: rgb(40, 40, 40);
  border: none;
  cursor: pointer;
}

.header-btn:hover,
.header-btn:active {
  color: rgb(0, 158, 116);
}

/* adjusting for logout button */
  // margin-top: 15px;
.current-user {
  padding: 0 9px;
}
.current-user > .header-btn {
  padding-left: 0;
}
