.show-project-header {
  box-sizing: border-box;
  padding: 20px;
  margin-bottom: 20px;
  min-height: 160px;
}

.show-project h1 {
  font-size: 42px;
  font-weight: 400;
  margin-bottom: 4px;
}

.show-project h2 {
  font-size: 22px;
  font-weight: 400;
  color: #656969;
}

.show-project h3 {
  font-size: 24px;
}

.show-project-stats {
  display: flex;
  color: #656969;
}

.green-stat {
  font-size: 32px;
  color: rgb(0, 116, 96);
}

.gray-stat {
  font-size: 32px;
  color: rgb(40, 40, 40);
}


.project-stats {
  flex-grow: 1;
  height: 100%;
  max-width: 350px;
  margin-bottom: 20px;
}

.project-stats li {
  margin-bottom: 12px;
}

.show-image {
  flex-grow: 2;
  max-width: 620px;
  max-height: 350px;
  height: auto;
}

.back-this-project {
  font-size: 18px;
  height: 48px;
  line-height: 48px;
  text-align: center;
  width: 100%;
  margin-bottom: 15px;
}

.pledge-section input {
  transition: all 1s;
  display: inline-block;
  box-sizing: border-box;
  font-size: 18px;
  font-weight: 600;
  height: 48px;
  line-height: 48px;
  text-align: left;
  width: 100%;
  margin-bottom: 15px;
}

.show-project-content {
  display: flex;
  margin-top: 40px;
  margin-left: -20px;
  margin: 50px -20px -40px;
  padding: 20px 20px 50px;
  height: 100%;
  background: white;
  border-top: 1px solid #DCDEDD;
  line-height: 1.6;
}

.show-project-content .col-8 {
  flex-grow: 2;
}

.show-project-content .col-4 {
  flex-grow: 1;
  min-width: 300px;
}

.show-project-content h3 {
  font-size: 30px;
  margin: 8px 0 3px;
}

.rewards-col h3 {
  padding-left: 30px;
}

.reward-item {
  box-sizing: border-box;
  color: #282828;
  margin: 5px 20px;
  padding: 10px 10px;
  border-radius: 4px;
  border: 1px solid lightgray;
}

.pledge-form-tag {
  font-weight: 600;
}
.reward-item h1 {
  font-size: 22px;
  font-weight: 400;
}
