.show-project-header {
  box-sizing: border-box;
  padding: 20px;
  margin-bottom: 20px;
  min-height: 160px;
}

.show-project h1 {
  font-size: 30px;
  font-weight: 600;
}

.show-project h2 {
  font-size: 22px;
  color: #656969;
}

.show-project h3 {
  font-size: 24px;
}
