html {
  background: white;
}

.container {
  width: 100%;
}

.splash-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5%;
  border-bottom: 1px solid #656969;
}

.splash-section {
  width: 100%;
  box-sizing: border-box;
  padding: 20px 40px;
  border-left: 1px solid #DCDEDD;
}

.splash-section:first-child {
  border-left: none;
}

.splash-section p {
  display: block;
  font-size: 15px;
  line-height: 21px;
}
.splash-top {
  color: rgb(101, 105, 105);

}
.splash-sub {
  font-weight: 600;
  color: rgb(40, 40, 40);
}

// below splash bar

.categories {
  width: 1100px;
  border-bottom: 1px solid lightgray;
  padding: 0;
  margin: 0 auto;
}

.category-bar {
  max-width: 700px;
  height: 60px;
  margin: 20px 10% 0 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.category-bar > li,
.category-bar > button {
  height: 60px;
  line-height: 60px;
}

.category-bar > .category:hover {
  color: rgb(40, 40, 40);
  border-bottom: 2px solid gray;
}

.category-bar > li:first-child button {
  padding-left: 0;
}

.category {
  border: none;
  background: none;
  font-size: 18px;
  color: rgb(216, 216, 216);
}

.category:hover {
  color: rgb(40, 40, 40);
  cursor: pointer;
}

.category:focus,
.category:active {
    outline: none;
}

.splash-widgets {
  display: flex;
  justify-content: space-between;
  margin: 20px auto;
  max-width: 1100px;
}

// Featured PROJECT

.featured {
  margin: 0 0;
}

h1.current-category {
  line-height: 30px;
}

.featured h2 {
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 10px;
  margin-top: 18px;
  text-decoration: none;
  color: rgb(40, 40, 40);
}

.featured-projects {
  position: relative;
  width: 500px;
  height: 500px;
  margin: 5px 0 20px;
  background-size: cover;
  border: 1px solid rgb(101, 105, 105);
}
.featured-text {
  position: absolute;
}

.featured-text p {
  color: rgb(40, 40, 40);
  line-height: 25px;
  background: white;
  padding: 10px 15px;
  margin-right: 18px;
}

.featured a {
  text-decoration: none;
}

.featured-text {
  top: 350px;
  left: 20px;
}

.featured-title {
  font-size: 24px;
}

.featured-author {
  display: inline-block;
}

.featured-percent {
  top: 430px;
  left: 20px;
}

// new and noteworthy

.new-noteworthy {
  margin-left: 20px;
  margin-top: 40px;
}

.new-noteworthy h2 {
  font-size: 14px;
  font-weight: 400;
  padding-bottom: 15px;
  border-bottom: 1px solid gray;
}

.new-img {
  float: left;
  width: 120px;
  height: 72px;
  margin: 0 20px 0 0;
  border: 1px solid lightgray;
}

.new-index {
  width: 510px;
  margin-bottom: 15px;
}

.splash-list {
  display: flex;
}

.list-header {
  padding: 0 8px;
  font-size: 14px;
}

.list-header:first-child {
  padding-left: 0;
}

.project-item {
  box-sizing: border-box;
  min-height: 104px;
  padding: 15px 0 15px;
  border-bottom: 1px solid gray;
}

.new-link {
  font-size: 16px;
  margin: 8px 0;
  color: #282828;
  text-decoration: none;
}

.new-link:hover {
  color: #037362;
  fill: #037362;
  text-decoration: underline;
}

.project-item > p {
  font-size: 14px;
  color: lightgray;
  margin-top: 15px;
}
