/* base styles */
@import "base/reset.scss";
// @import "base/normalize.scss";
@import "base/globals.scss";
@import "base/grid.scss";

/* componenet styles */
@import "styles/users.scss";
@import "styles/global_header.scss";
@import "styles/session_form.scss";
@import "styles/project_index.scss";
@import "styles/project_show.scss";
@import "styles/project_form.scss";
@import "styles/splashpage.scss";
